<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'images/nklogo1.png' %}" type="image/png">
    <title>Nikh Portfolio - Blog </title>
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style-jack.css' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <style>
        .banner_area .banner_inner {
            position: relative;
            overflow: hidden;
            width: 100%;
            min-height: 450px;
            background: url({% static 'images/common-banner.png' %}) no-repeat right bottom;
            background-size: cover;
            z-index: 1;
        }
       .bg{
         font-size: 24px;
        font-weight: 300;
        margin-bottom: 0px;
        }
       .letter-space{
        letter-spacing:2px;
       }
    .img-fluid{
        max-width: 100%;
        height: auto;
        border-radius:50%;

    }
    .text-color{
        color:white;

    }
    .text-color:hover {
        color:purple;
    }
    .padding{
        padding:2em;
    }



























































































    </style>
</head>

<body>

<!--================ Start Header Area =================-->
<header class="header_area header_inner_page">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <span style="position:relative; left:16%;">
                 <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href=""><img src="{% static 'images/nklogo1.png' %}"
                                                            alt=""></a>
                <a class="navbar-brand logo_inner_page" href=""><img src="{% static 'images/nklogo1.png' %}" width="20%"
                                                                     alt=""></a>
            </span>

            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav">
                        <li class="nav-item"><a class="nav-link" href="">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="">Pages</a></li>
                        <li class="nav-item "><a class="nav-link" href="/blog/">Blog</a></li>
                        <li class="nav-item active"><a class="nav-link" href="">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<!--================ Start Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6">
                    <div class="banner_content">
                        <h2>Get in Touch </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ================ contact section start ================= -->
<section class="section-margin">
    <div class="container">
        <div class="col-12">
            <h2 class="contact-title">Get in Touch</h2>
        </div>
        <div class="row">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <form class="form-contact contact_form" action="" method="post" id="contactForm"
                      novalidate="novalidate">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9"
                                          placeholder="Enter Message"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="name" id="name" type="text"
                                       placeholder="Enter your name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="email" id="email" type="email"
                                       placeholder="Enter email address">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="subject" id="subject" type="text"
                                       placeholder="Enter Subject">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-lg-3">
                        <button type="submit" class="primary_btn button-contactForm">Send Message</button>
                    </div>
                </form>


            </div>

            <div class="col-lg-4">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="fas fa-home text-success"></i></span>
                    <div class="media-body">
                        <h3>BTM 1st Stage </h3>
                        <p>Banglore, 560029</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="fas fa-tablet-alt text-info"></i></span>
                    <div class="media-body">
                        <h3><a href="tel:454545654">+91 8073508219</a></h3>
                        <p>Contact me at anytime!</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="far fa-envelope text-danger"></i></span>
                    <div class="media-body">
                        <h3><a href="mailto:support@colorlib.com">hnikh10@hotmail.com</a></h3>
                        <p>Send me your query anytime!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ contact section end ================= -->

<!--================Footer Area =================-->
<footer class="footer_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="footer_top flex-column">
                    <div class="footer_logo">
                        <a href="#">
                            <img src="{% static 'images/nklogo1.png' %}" width="5%" alt="">
                        </a>
                        <div class="d-lg-block d-none">
                            <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
                                <div class="collapse navbar-collapse offset">
                                    <ul class="nav navbar-nav menu_nav mx-auto">
                                        <li class="nav-item"><a class="nav-link text-white" href="">Home</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link text-white" href="">About</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link text-white" href="">Portfolio</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link text-white" href="">BLog</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link text-white" href="">Services </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="footer_social mt-lg-0 mt-4">
                        <a href="https://www.facebook.com/nikhilkumar.hiragond"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://github.com/Nikh10"><i class="fab fa-github"></i></a>
                        <a href="https://twitter.com/nikhkumar07"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-skype"></i></a>
                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer_bottom justify-content-center">
            <p class="col-lg-8 col-sm-12 footer-text" style="color:white">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | This template is made with <i class="fa fa-heart text-danger"
                                                                    aria-hidden="true"></i> by <a
                    href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
    </div>
</footer>


<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


</body>

</html>